Source: grml-quickconfig
Section: utils
Priority: optional
Maintainer: Ulrich Dangel <mru@grml.org>
Uploaders: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1
Homepage: http://git.grml.org/?p=grml-quickconfig.git
Vcs-git: git://git.grml.org/grml-quickconfig.git
Vcs-Browser: http://git.grml.org/?p=grml-quickconfig.git

Package: grml-quickconfig
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, zsh | zsh-beta, grml-etc-core
Suggests: grml-quickconfig-standard
Conflicts: grml-scripts (<= 1.2.2)
Description: Menu framework for quick access of grml menu entries
 grml-quickconfig provides a console based interface to get fast
 access to some basic grml-scripts like for example grml-network,
 netcardconfig, grml-lang, grml-x and grml-debootstrap.
 .
 grml-quickconfig also provides a modularised and flexible way of
 creating dynamic menus so it is easy to customize
 grml-quickconfig according to your needs.
 .
 This is the core package containing only grml-quickconfig itself
 without any menu entries.

Package: grml-quickconfig-standard
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, grml-quickconfig
Description: Standard menu entries for grml-quickconfig
 This package contains the standard grml-quickconfig menu entries.
 .
 This package provides menu entries for:
  * grml-debootstrap
  * grml-info
  * grml-lang
  * grml-network
  * grml-x
  * netcardconfig
  * pdmenu
