Source: grml-quickconfig
Section: utils
Priority: optional
Maintainer: Ulrich Dangel <mru@grml.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: http://git.grml.org/?p=grml-quickconfig.git
Vcs-git: git://git.grml.org/grml-quickconfig.git
Vcs-Browser: http://git.grml.org/?p=grml-quickconfig.git


Package: grml-quickconfig
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zsh | zsh-beta
Suggests: grml-quickconfig-standard
Conflicts: grml-scripts (<= 1.2.1)
Description: Menu framework for quick access of grml menu entries
 This is the core package containing only grml-quickconfig itself
 without any menu entries.
 .
 grml-quickconfig is a modularised and flexible way of creating
 dynamic menues.

Package: grml-quickconfig-standard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, grml-quickconfig
Description: Standard menu entries for grml-quickconfig
 This packagae contains the standard grml-quickconfig menu entries.
 .
 This package contains menu entries for:
  * grml-lang
  * netcardconfig
  * netconfig
  * grml-x
  * grml2hd
  * pdmenu

